/* App.css */
/* ... otros estilos ... */

.header {
  background-color: #F26522;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  margin-right: 1200px;
  font-size: 40px;
}

.profile-text{
  margin-left: 250px;
  font-size: 20px;
}

.profile-container {
  display: flex;
  align-items: center;
}


.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: auto; /* Espacio entre el enlace y el título */
}
