.searchBar {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 25px;
    margin-top: 350px;
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
    display: flex;
    align-items: center;
  }
  
  .searchBar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .searchBar .search-button {
    background-color: #F26522;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  