body {
  margin: 0; /* Elimina el margen predeterminado del body */
  overflow: hidden;
}

.header { /* Estilos para la barra superior */
  background-color: #f89100;
  height: 60px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container {
  width: 400px;
  margin: 100px auto;
  padding: 30px; 
  text-align: center; /* Centra el contenido horizontalmente */
}
.login-container img {
  width: 300px;
  height: auto;
}


.login-container h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}
.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 15px; 
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #f89100;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container a {
  display: block;
  text-align: center;
  color: #f89100;
  margin-top: 20px;
  text-decoration: none;
}