/* styles/Resultados.module.css */

.result-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-left: 50px;
  align-items: center; /* Alineamos los elementos verticalmente al centro */
  margin-bottom: 20px;
  display: flex; /* Usar flexbox para alinear los elementos */
}
.results-title {
  text-align: right; /* Alinea la palabra "Resultados" hacia la derecha */
  margin-right: 915px; /* Ajusta el margen derecho */
  margin-left: 40px; /* Ajusta este valor para mover la palabra hacia la derecha */
  font-size: 24px; /* Opcional: Ajusta el tamaño de la fuente si es necesario */
  font-weight: bold; /* Opcional: Haz que el texto sea negrita */
}
.image {
  width: 110px; /* Tamaño de la imagen */
  height: auto; /* Altura automática */
}

.image-container {
  margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.content-container {
  flex-grow: 1; /* El contenido ocupa todo el espacio disponible */
}

.action-container {
  display: flex; /* Usar flexbox para alinear los elementos */
  flex-direction: column; /* Apilar los elementos verticalmente */
  align-items: flex-end; /* Alinear los elementos a la derecha */
}

.like {
  display: flex;
  align-items: center; /* Alineamos los elementos verticalmente al centro */
  gap: 5px; /* Espacio entre el ícono de like y el contador */
  margin-bottom: 10px; /* Margen inferior para separar del botón */
}

.likeIcon {
  cursor: pointer;
}

.likeCount {
  font-size: 14px;
  color: #333;
}

.save-button {
  align-self: flex-end; /* Alinear el botón a la derecha */
  background-color: #F26522;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px; /* Agrega margen superior al botón */
}
