.user-page {
    display: flex;
    flex-direction: column;
}

.user-page h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}
.user-page .content {
    display: flex;
    flex-direction: row-reverse; 
    gap: 20px;
  }
.button-group {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
  }
.saved-works-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
