/* index.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para el Header */
.header {
  background-color: #F26522; /* Color naranja del header */
  color: white;
  padding: 15px 20px; /* Ajusta el padding según tus necesidades */
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-text {
  margin-right: 10px;
  vertical-align: middle;
}

.profile-icon {
  height: 24px; /* Ajusta el tamaño del icono según tus necesidades */
  vertical-align: middle;
}
